<html xmlns:th="https://www.thymeleaf.org/" 
            xmlns:sec="https://www.thymeleaf.org/extras/spring-security5"
>
 <div th:replace="fragments/commonui :: header"></div>
  <body>
  <div th:replace="fragments/commonui :: menu"></div>
    <div class="container">
      <div class="card">
        <div class="card-header bg-primary text-center text-white">
          <h2>Appointment Edit</h2>
        </div>

        <div class="card-body">
          <form
            th:action="@{/appointment/update}"
            method="post"
            th:object="${appointment}"
            id="appointmentForm"
          >
          <!--row#0-->
            <div class="row">
              <div class="col-2"><label for="appointmentId">ID</label></div>
              <div class="col-3">
                <input
                  type="text"
                  th:field="*{id}"
                  id="appointmentId"
                  readonly
                  class="form-control"
                />
              </div>
              <div class="col-7"><span id="appointmentIdError"></span></div>
            </div>
            <!--row#1-->
            <div class="row">
              <div class="col-2"><label for="doctor">Doctor</label></div>
              <div class="col-3">
                <select th:field="*{doctor}" id="doctor" class="form-control">
                  <option value="">--Select--</option>
                  <option
                    th:each="ob:${doctors}"
                    th:value="${ob.key}"
                    th:text="${ob.value}"
                  ></option>
                </select>
              </div>
              <div class="col-7"></div>
            </div>
            <!--row#2-->
            <div class="row">
              <div class="col-2"><label for="specCode">Date</label></div>
              <div class="col-3">
                <input
                  type="date"
                  th:field="*{date}"
                  id="date"
                  class="form-control"
                />
              </div>
              <div class="col-7"><span id="dateError"></span></div>
            </div>
            <!--row#3-->
            <div class="row">
              <div class="col-2"><label for="noOfSlots">NoOfSlots</label></div>
              <div class="col-4">
                <input
                  type="number"
                  th:field="*{noOfSlots}"
                  id="noOfSlots"
                  class="form-control"
                />
              </div>
              <div class="col-6"><span id="noOfSlotsError"></span></div>
            </div>
            <!--row#4-->
            <div class="row">
              <div class="col-2"><label for="detail">Detailse</label></div>
              <div class="col-4">
                <textarea
                  th:field="*{detail}"
                  id="detail"
                  class="form-control"
                ></textarea>
              </div>
              <div class="col-6"><span id="detailError"></span></div>
            </div>
            <!--row#5-->
            <div class="row">
              <div class="col-2">
                <label for="amt">Consultation Fee</label>
              </div>
              <div class="col-4">
                <input
                  type="number"
                  th:field="*{amt}"
                  id="amt"
                  class="form-control"
                />
              </div>
              <div class="col-6"><span id="amtError"></span></div>
            </div>
            <button type="submit" class="btn btn-success btn-app">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit
            </button>
            <button type="reset" class="btn btn-danger btn-app">
              <i class="fa fa-retweet" aria-hidden="true"></i>Reset
            </button>
          </form>
        </div>
        <div th:if="${message!=null}" class="card-footer bg-info">
          <span th:text="${message}"></span>
        </div>
      </div>
    </div>
  </body>
</html>
